.EventHeader {
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.BackButton {
  color: #6b7280;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  border: none;
}

.BackButton img {
  margin-right: 10px;
}

.EventsInfoContainer {
  margin-top: 30px;
  width: 100%;
  gap: 40px;
  padding: 10px 40px 40px 40px;
  display: flex;
}

.EventMoreInfo {
  background-color: white;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 40%);
  width: 70%;
  height: fit-content;
  padding-bottom: 20px;
}

.MoreDetailsContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.EventMoreDetails {
  border: 2px solid #e5e7eb;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
}

.OrganizerDetails {
  width: 100%;
  border: 2px solid #e5e7eb;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.EventDate {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.EventDetails span {
  margin-right: 10px;
  font-size: 17px;
}

.EventDetails {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 20px;
}

.Organizer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.EventAttendees {
  display: flex;
  align-items: center;
}

.AttendeesInfo {
  display: flex;
  flex-direction: column;
}

.AttendeesInfo h4 {
  color: #6b7280;
  font-size: 14px;
  font-weight: 400;
}

.EventDetails h3 {
  font-size: 16px;
  color: #111827;
  font-weight: 600;
}

.AttendeesInfo .Attending {
  font-size: 16px;
  color: #111827;
  font-weight: 600;
}

.OrganizerLogo {
  display: flex;
  align-items: center;
}

.OrganizerImage {
  width: 48px;
  height: 48px;
  background-color: white;
  border: 2px solid #e5e7eb;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 10px;
  color: #111827;
  display: flex;
  justify-content: center;
  align-items: center;
}

.OrganizerImage img {
  width: 30px;
  height: 30px;
}

.NameAndContact {
  display: flex;
  flex-direction: column;
}

.Contact {
  color: #6b7280;
  font-size: 14px;
  font-weight: 400;
}

.EventProfileImage {
  width: 100%;
  height: 300px;
  color: white;
  border-radius: 12px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.EventProfileHeader {
  width: 100%;
  padding: 0 24px 0 24px;
}

.EventCategory {
  color: white;
  width: fit-content;
  border-radius: 27px;
  padding: 5px 15px 5px 15px;
  font-weight: 600;
  font-size: 14px;
}

.ProfileTitle {
  margin-top: 20px;
  font-size: 30px;
  padding-left: 24px;
  font-weight: bold;
  color: #111827;
}

.AboutEvent {
  margin-top: 20px;
  padding: 0 24px 0 24px;
}

.AboutEvent h2 {
  color: #111827;
  font-weight: bold;
}

.EventDescription,
.ToBringDescription,
.RequirementsDescription {
  margin-top: 20px;
  color: #6b7280;
}

.ToBringTitle,
.RequirementsTitle {
  margin-top: 20px;
}

.JoinEventContainer {
  margin-top: 30px;
  padding: 10px 24px 10px 24px;
}

.EventProfileMenu {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 20px;
  display: none;
}

.EventProfileLine {
  height: 1px;
  background-color: hsl(0, 0%, 0%, 10%);
  width: 100%;
}

@media screen and (max-width: 1300px) {
  .EventProfileImage {
    font-size: 50px;
  }
}

@media screen and (max-width: 1150px) {
  .OrganizerImage {
    width: 35px;
    height: 35px;
  }

  .OrganizerImage img {
    width: 25px;
    height: 25px;
  }

  .Contact {
    font-size: 12px;
  }
}

@media screen and (max-width: 1000px) {
  .EventDetails span {
    font-size: 15px;
  }

  .EventDetails h3,
  .AttendeesInfo .Attending {
    font-size: 15px;
  }

  .NameAndContact h3 {
    font-size: 15px;
  }

  .NameAndContact .Contact {
    font-size: 8px;
  }
}

@media screen and (max-width: 800px) {
  .EventProfileMenu {
    display: block;
  }
  .EventsInfoContainer {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 40px 20px;
  }

  .EventHeader {
    padding-left: 20px;
  }

  .EventMoreInfo {
    width: 100%;
  }

  .MoreDetailsContainer {
    width: 100%;
  }

  .MoreDetailsContainer h3 {
    font-size: 22px;
  }

  .EventDetails h3,
  .AttendeesInfo .Attending {
    font-size: 17px;
  }

  .AttendeesInfo h4 {
    font-size: 13px;
  }

  .EventDetails span {
    font-size: 20px;
  }

  .OrganizerImage {
    width: 45px;
    height: 45px;
  }

  .OrganizerImage img {
    width: 30px;
    height: 30px;
  }

  .NameAndContact .Contact {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
}
